
<div class="container-fluid">
    
    <footer class="text-center text-lg-start text-white" style="background-color: #2B2B2B">
        <!-- Section: Social media -->
        <section
               class="d-flex justify-content-between p-4"
               style="background-color: #626667"
               >
        <!-- Left -->
        <div class="me-5">
          <span class="footer_txt">تواصل معنا على وسائل التواصل الاجتماعي:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div >
          <a href="" class=" me-4" style="color:#DB9437">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="  me-4" style="color:#DB9437">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="  me-4" style="color:#DB9437">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="  me-4" style="color:#DB9437">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="  me-4" style="color:#DB9437">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="  me-4" style="color:#DB9437">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
        <div
           class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
              <p style="color:#DB9437">Copyright ©2024 Jaber Lawyers. All Rights Reserved </p>

         
      </div>
     </footer>         
</div>    
