<nav class="navbar navbar-expand-lg  navbar-dark  fixed-top" style="background-color: #444444;font-family:GE Dinkum;font-size:22px;">
    <div class="container-fluid">
        <!-- Brand/logo -->
        
        <a class="navbar-brand" href="#"  style="font-family:GE Dinkum;font-size:25px;font-weight: bold;color:#DB9437;">مجمع جبر لاعمال المحاماة</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav se-auto mb-2 mb-lg-0" >
          <li class="nav-item">
           
            <a class="nav-link active" aria-current="page" href="{% url 'cases:index' %}" style="font-family:GE Dinkum;font-size:22px;color:#DB9437;">الشاشة الرئيسة</a>
            
          </li>
  
         

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#DB9437;">
                   من نحن
            </a>
            <ul class="dropdown-menu"  style="text-align:right;">
              <li><a class="dropdown-item jaber_txt" href="#">فريق العمل</a></li>             
             
              
              
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link jaber_txt" aria-current="page" href="#" style="font-family:GE Dinkum;font-size:22px;color:#DB9437;">خدماتنا</a>
          </li>
  
          
           
               
          
  
  
          
         
         
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#DB9437;">
                   الاستشارات
            </a>
            <ul class="dropdown-menu"  style="text-align:right;">
              <li><a class="dropdown-item jaber_txt" href="#">احجز لاستشارة مدفوعة</a></li>             
              <li><a class="dropdown-item jaber_txt" href="#">ارسل لاستشارة مجانية</a></li>
              
              
            </ul>
          </li>


  
             <li class="nav-item">
                 <a class="nav-link jaber_txt" aria-current="page" href="#" style="font-family:GE Dinkum;font-size:22px;color:#DB9437;">انظمة وقوانين</a>
             </li>

             <li class="nav-item">
                <a class="nav-link jaber_txt" aria-current="page" href="#" style="font-family:GE Dinkum;font-size:22px;color:white;">مرحبا يالزائر</a>
            </li> 

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#DB9437;">
                   دخول 
            </a>
            <ul class="dropdown-menu"  style="text-align:right;">
              <li><a class="dropdown-item jaber_txt" href="#">دخول للنظام</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item jaber_txt" href="#">تسجبل جديد</a></li>
              
              
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link jaber_txt" aria-current="page" href="#" style="font-family:GE Dinkum;font-size:22px;color:#DB9437;">en</a>
          </li>
          
  
        </ul>
  
        <form class="d-flex" role="search" >
          <input class="form-control me-2" type="search" placeholder="ابحث عن" aria-label="Search" style="color:#DB9437;">
          <button class="btn btn-outline-success" type="submit">البحث</button>
        </form>
      </div>
    </div>
  </nav>